<!-- main page style -->
<html>
<head>
    <title>Finance Tracker</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script>
        function updateDateTime() {
            const dateTimeElement = document.getElementById('date-time');
            const now = new Date();
            const formattedDateTime = now.toLocaleString();
            dateTimeElement.textContent = formattedDateTime;
        }
        setInterval(updateDateTime, 1000); // Update every second
        window.onload = updateDateTime; // Initial load
    </script>
</head>
<body>
    <div id="header">
        <div class="top_banner">
            <h1>Finance Tracker</h1>
            <div id="date-time" class="date-time"></div>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/home">Home</a></li>
                {{#if isLoggedIn}}
                    <li><a href="/reportform">Report Finances</a></li>
                    <li><a href="/add-recurring-expense">Add Recurring Expense</a></li>
                    <li><a href="/set-budget">Set Budget</a></li>
                    <li><a href="/summary">Summary</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    
    <div class="content-box">
        {{{body}}}
    </div>    
    <br><br>
    <em style="color:white">Chris S., Julia Y., Oxana B., Pratiksha B.</em>
</body>
</html>
